apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: headscale
data:
  config.yaml: |
    server_url: https://headscale.creco.dev
    listen_addr: 0.0.0.0:8080

    ip_prefixes:
      - 100.64.0.0/10

    db_type: sqlite
    db_path: /var/lib/headscale/db.sqlite

    dns_config:
      override_local_dns: true
      base_domain: creco.internal

    log:
      level: info
