apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: headscale
data:
  config.yaml: |
    server_url: https://headscale.creco.dev
    listen_addr: 0.0.0.0:8080

    private_key_path: /var/lib/headscale/private.key
    noise:
      private_key_path: /var/lib/headscale/noise_private.key

    # ✅ IMPORTANT: prefixes (NOT ip_prefixes)
    prefixes:
      v4: 100.64.0.0/10
      # v6: fd7a:115c:a1e0::/48   # 필요하면 나중에

    db_type: sqlite
    db_path: /var/lib/headscale/db.sqlite

    dns:
      override_local_dns: false

    log:
      level: info
