externalURL: http://harbor.internal.creco.dev

expose:
  type: ingress
  ingress:
    className: traefik
    hosts:
      core: harbor.internal.creco.dev
    annotations: {}
  tls:
    enabled: false

harborAdminPassword: "${HARBOR_ADMIN_PASSWORD}"

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      size: 50Gi
    database:
      size: 5Gi
    redis:
      size: 1Gi
    trivy:
      size: 5Gi
    jobservice:
      size: 1Gi
