apiVersion: v1
kind: ConfigMap
metadata:
  name: wireguard-config
  namespace: vpn
data:
  wg0.conf: |
    [Interface]
    Address = 10.100.0.1/24
    ListenPort = 51820
    PrivateKey = __SERVER_PRIVATE_KEY__

    # Split tunnel용: 인터넷 출구 NAT(MASQUERADE) 없음
    PostUp   = sysctl -w net.ipv4.ip_forward=1; iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT
    PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT

    # 클라이언트 Peer는 아래에 추가됩니다.
    # 예)
    [Peer]
    PublicKey = "${VPN_CLIENT_PUBLIC_KEY}"
    AllowedIPs = 10.100.0.2/32
