apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik-public
  namespace: kube-system
spec:
  repo: https://traefik.github.io/charts
  chart: traefik
  version: 26.1.0
  targetNamespace: ingress-public
  valuesContent: |
    deployment:
      kind: Deployment

    ingressClass:
      enabled: true
      isDefaultClass: false
      name: traefik-public

    providers:
      kubernetesIngress:
        enabled: true
        ingressClass: traefik-public
      kubernetesCRD:
        enabled: true

    service:
      type: LoadBalancer
      # MetalLB 등을 쓴다면 public 고정 IP 가능
      # loadBalancerIP: 192.168.0.210

    ports:
      web:
        port: 80
      websecure:
        port: 443

    additionalArguments:
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
