apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik-vpn
  namespace: kube-system
spec:
  chart: traefik
  repo: https://helm.traefik.io/traefik
  version: 26.0.0
  targetNamespace: kube-system
  valuesContent: |
    deployment:
      replicas: 1

    providers:
      kubernetesIngress:
        enabled: true
        ingressClass: traefik-vpn

    service:
      type: NodePort
      spec:
        externalTrafficPolicy: Local

    ports:
      websecure:
        port: 443
        nodePort: 32443   # VPN 전용 포트
        protocol: TCP

    ingressClass:
      enabled: true
      name: traefik-vpn
      isDefaultClass: false
